{
  "openapi": "3.1.0",
  "info": {
    "title": "API Settings",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://officevibe.workleap.com/api/vundefined"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "x-default": "Bearer [[app:key]]"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/polls": {
      "post": {
        "summary": "/polls",
        "description": "This request creates a new Poll.",
        "operationId": "polls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "poll"
                ],
                "properties": {
                  "poll": {
                    "type": "object",
                    "description": "The poll to create.",
                    "properties": {}
                  }
                }
              },
              "examples": {
                "Slider Poll": {
                  "value": {
                    "GroupNames": [
                      "Officevibe"
                    ],
                    "leftlabel": "Bad",
                    "rightLabel": "Good",
                    "answerType": "Slider",
                    "title": "Which choice do you prefer?"
                  }
                },
                "Input Poll": {
                  "value": {
                    "GroupNames": [
                      "Officevibe"
                    ],
                    "answerType": "Input",
                    "title": "How are you today?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  success : true\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "/polls",
        "description": "This request returns all the polls.",
        "operationId": "poll",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "The satus of the Polls to retrieve (Active, Inactive, Archived)",
            "schema": {
              "type": "string",
              "default": "Active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"pollCount\" : 1,\n   \"polls\" : \n    [\n      {\n        \"id\": \"CQ-10446\",\n        \"titles\": [\n          \"How are you today?\"\n        ],\n        \"groupNames\": [\n          \"All Company\"\n        ],\n        \"publishDate\": \"2016-05-30T15:00:00Z\",\n        \"answerChoices\": [],\n        \"answerCount\": 20\n      }\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pollCount": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "polls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "CQ-10446"
                          },
                          "titles": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "How are you today?"
                            }
                          },
                          "groupNames": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "All Company"
                            }
                          },
                          "publishDate": {
                            "type": "string",
                            "example": "2016-05-30T15:00:00Z"
                          },
                          "answerChoices": {
                            "type": "array"
                          },
                          "answerCount": {
                            "type": "integer",
                            "example": 20,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/polls?status=Active"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      }
    },
    "/users/{email}": {
      "get": {
        "summary": "/users/:email",
        "description": "The request returns the information for a specified user.",
        "operationId": "usersid",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email of the user to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"email\" : \"bobboby@test.com\",\n   \"firstName\" : \"Bob\",\n   \"lastName\" : \"Boby\",\n   \"userName\" : \"bobboby\",\n   \"jobTitle\" : \"Sales\",\n   \"isGroupManager\" : false,\n   \"isCompanyManager\" : false,\n   \"isAdmin\" : false,\n   \"managedGroups\" : [],\n   \"memberGroups\" : \n   [\n     \"Officevibe\"\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "bobboby@test.com"
                    },
                    "firstName": {
                      "type": "string",
                      "example": "Bob"
                    },
                    "lastName": {
                      "type": "string",
                      "example": "Boby"
                    },
                    "userName": {
                      "type": "string",
                      "example": "bobboby"
                    },
                    "jobTitle": {
                      "type": "string",
                      "example": "Sales"
                    },
                    "isGroupManager": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "isCompanyManager": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "isAdmin": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "managedGroups": {
                      "type": "array"
                    },
                    "memberGroups": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Officevibe"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/users/bob@test.com"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      },
      "post": {
        "summary": "/users/:email",
        "description": "The request invite a new user or update the existing user.",
        "operationId": "employeesave",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email of the Employee to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "The employee first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The employee last name."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "The employee job title."
                  },
                  "imageDataBase64": {
                    "type": "string",
                    "description": "The employee image data encoded in base64. Maximum size of 3Mb."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "firstName": "John",
                    "lastName": "Smith",
                    "jobTitle": "President",
                    "imageDataBase64": "iVBkJgdg=="
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"isSuccess\":true}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/groups": {
      "post": {
        "summary": "/groups",
        "description": "The request creates a new group.",
        "operationId": "groupsave",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The group name. The group will be created."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "name": "My Group"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"isSuccess\":true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "/groups?groupId",
        "description": "This request returns the information of a specified group.",
        "operationId": "groupsid",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "The name or id of the group to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"isSuccess\" : true,\n  \"data\" : {\n    \"id\" : \"9345c237-c166-48ec-af1c-705b9a057be4\",\n    \"name\" : \"Officevibe\",\n    \"groupType\" : \"Department\",\n    \"userCount\" : 0,\n    \"managerCount\" : 1,\n    \"users\" : \n    [\n      {\n         \"email\" : \"bobboby@test.com\",\n         \"firstName\" : \"Bob\",\n         \"lastName\" : \"Boby\",\n         \"userName\" : \"bobboby\",\n         \"jobTitle\" : \"Sales\",\n         \"isGroupManager\" : true,\n         \"isCompanyManager\" : false,\n         \"isAdmin\" : false\n      }\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "9345c237-c166-48ec-af1c-705b9a057be4"
                        },
                        "name": {
                          "type": "string",
                          "example": "Officevibe"
                        },
                        "groupType": {
                          "type": "string",
                          "example": "Department"
                        },
                        "userCount": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "managerCount": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "example": "bobboby@test.com"
                              },
                              "firstName": {
                                "type": "string",
                                "example": "Bob"
                              },
                              "lastName": {
                                "type": "string",
                                "example": "Boby"
                              },
                              "userName": {
                                "type": "string",
                                "example": "bobboby"
                              },
                              "jobTitle": {
                                "type": "string",
                                "example": "Sales"
                              },
                              "isGroupManager": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "isCompanyManager": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "isAdmin": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/groups?groupId=Officevibe"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      }
    },
    "/groups/addUsers": {
      "post": {
        "summary": "/groups/addUsers",
        "description": "This request adds users to a specified group.",
        "operationId": "groupaddemployee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId",
                  "emails"
                ],
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "The group name or id."
                  },
                  "emails": {
                    "type": "array",
                    "description": "The user emails. The users will be created if not matched to any existing.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "toManagers": {
                    "type": "boolean",
                    "description": "Add the users to the managers list.",
                    "default": false
                  },
                  "toMembers": {
                    "type": "boolean",
                    "description": "Add the users to members list.",
                    "default": true
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "groupId": "9345c237-c166-48ec-af1c-705b9a057be4",
                    "emails": [
                      "bobby@test.com"
                    ],
                    "toManagers": false,
                    "toMembers": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"isSuccess\":true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/feedback": {
      "get": {
        "summary": "/feedback",
        "description": "This request returns feedback conversations.",
        "operationId": "feedbacklist",
        "parameters": [
          {
            "name": "groupName",
            "in": "query",
            "description": "The name of the group to retrieve feedback. If null, it retrieves feedback for All Company.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Filter the feedback with a specific metric, ex : \"MG-1\". See documentation below.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tone",
            "in": "query",
            "description": "Filter the feedback with a specific tone, ex : \"FP\". See documentation below.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter the feedback with a specific type, ex : \"POLL\". See documentation below.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Filter the feedback with a specific label, ex : \"CT-1\". See documentation below.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter the feedback from a specified creation date. (original feedback)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter the feedback to a specified creation date (original feedback).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"conversationCount\" : 1,\n  \"conversations\":\n  [\n     {\n        \"id\": \"57504457a6cca38a00cfb4f88,\n        \"creationDate\": \"2016-06-02T14:36:07.035Z\",\n        \"lastModificationDate\": \"2016-06-02T14:36:07.035Z\",\n        \"userDisplayName\": \"Bobby Bob\",\n        \"userEmail\": \"bobby@test.com\",\n        \"questionAsked\": \"What's on your mind?\",\n        \"message\": \"I'm happy\",\n        \"tags\": [\n          \"Suggestion Box\"\n        ],\n        \"replies\": [\n            {\n            \"creationDate\": \"2016-05-30T20:16:14.633Z\",\n            \"userDisplayName\": \"Lea Pres\",\n            \"userEmail\": \"lea@test.com\",\n            \"message\": \"Ok nice!\"\n          }\n      }\n  ]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/feedback\nhttps://app.officevibe.com/api/v2/feedback?groupName=Officevibe&metric=MG-1"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      },
      "post": {
        "summary": "/feedback",
        "description": "This request creates a new Feedback.\n WARNING : do not let the user specify his email, enter the email in your back-end.",
        "operationId": "feedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "isAnonymous",
                  "content"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email of the user who created the feedback. WARNING : do not let the user specify his email, enter the email in your back-end."
                  },
                  "isAnonymous": {
                    "type": "boolean",
                    "description": "Specifies if the feedback is anonymous.",
                    "default": true
                  },
                  "content": {
                    "type": "string",
                    "description": "The content of feedback."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "email": "bob@test.com",
                    "isAnonymous": true,
                    "content": "I am happy!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\tsuccess : true\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/feedback/{id}": {
      "get": {
        "summary": "/feedback/:id",
        "description": "This request returns the information for a specified feedback.",
        "operationId": "feedbackid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the feedback to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n        \"id\": \"57504457a6cca38a00cfb4f88,\n        \"creationDate\": \"2016-06-02T14:36:07.035Z\",\n        \"lastModificationDate\": \"2016-06-02T14:36:07.035Z\",\n        \"userDisplayName\": \"Bobby Bob\",\n        \"userEmail\": \"bobby@test.com\",\n        \"questionAsked\": \"What's on your mind?\",\n        \"message\": \"I'm happy\",\n        \"tags\": \n  \t\t\t[\n          \"Suggestion Box\"\n        ],\n        \"replies\":\n  \t\t\t[\n          {\n            \"creationDate\": \"2016-05-30T20:16:14.633Z\",\n            \"userDisplayName\": \"Lea Pres\",\n            \"userEmail\": \"lea@test.com\",\n            \"message\": \"Ok nice!\"\n          }\n\t\t\t\t]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/feedback/57504457a6cca38a00cfb4f88"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      }
    },
    "/groups/removeAllUsers": {
      "post": {
        "summary": "/groups/removeAllUsers",
        "description": "This request removes all users from a specified group.",
        "operationId": "groupsnameremoveallusers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId"
                ],
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "The group name or id."
                  },
                  "fromMembers": {
                    "type": "boolean",
                    "description": "Remove the users from the Members List.",
                    "default": true
                  },
                  "fromManagers": {
                    "type": "boolean",
                    "description": "Remove the users from the Managers List.",
                    "default": false
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "name": "Officevibe",
                    "fromMembers": true,
                    "fromManagers": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"isSuccess\":true \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/deactivate": {
      "post": {
        "summary": "/users/deactivate",
        "description": "The request deactivates an user",
        "operationId": "employeeremove",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The employee email."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "email": "john@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"isSuccess\":true}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/polls/{id}": {
      "get": {
        "summary": "/polls/:id",
        "description": "This request returns the information for a specified poll.",
        "operationId": "pollsid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Poll to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"CQ-10446\",\n    \"titles\": [\n      \"Do you prefer cats or dogs?\"\n    ],\n    \"groupNames\": [\n      \"All Company\"\n    ],\n    \"answerType\": \"List\",\n    \"publishDate\": \"2016-05-30T15:00:00Z\",\n    \"answerChoices\": [\n      {\n        \"id\": \"CQAC-0\",\n        \"title\": \"Cats\"\n      },\n      {\n        \"id\": \"CQAC-1\",\n        \"title\": \"Dogs\"\n      }\n    ],\n    \"answers\": [\n      {\n        \"creationDate\": \"2016-05-30T15:16:38.601Z\",\n        \"content\": \"CQAC-1\"\n      }\n    ],\n    \"answerCount\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "CQ-10446"
                    },
                    "titles": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Do you prefer cats or dogs?"
                      }
                    },
                    "groupNames": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "All Company"
                      }
                    },
                    "answerType": {
                      "type": "string",
                      "example": "List"
                    },
                    "publishDate": {
                      "type": "string",
                      "example": "2016-05-30T15:00:00Z"
                    },
                    "answerChoices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "CQAC-0"
                          },
                          "title": {
                            "type": "string",
                            "example": "Cats"
                          }
                        }
                      }
                    },
                    "answers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creationDate": {
                            "type": "string",
                            "example": "2016-05-30T15:16:38.601Z"
                          },
                          "content": {
                            "type": "string",
                            "example": "CQAC-1"
                          }
                        }
                      }
                    },
                    "answerCount": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "https://app.officevibe.com/api/v2/polls/CQ-10446"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/engagement": {
      "post": {
        "summary": "/engagement",
        "description": "The request returns the engagement reports for a list of dates and groups specified.",
        "operationId": "engagement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dates"
                ],
                "properties": {
                  "groupNames": {
                    "type": "array",
                    "description": "If null, returns the engagement reports for all company users",
                    "default": [
                      "Awesome team"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "dates": {
                    "type": "array",
                    "description": "There is a limit of 20 dates.",
                    "items": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "groupNames": [
                      "officevibe"
                    ],
                    "dates": [
                      "2016-06-02"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"weeklyReports\" :\n  [\n    {\n      \"date\" : \"2016-06-02\",\n      \"groupName\" : \"Officevibe\",\n      \"metricsValues\" :\n      [\n        {\n          \"id\"  : \"MG-10\",\n          \"displayName\" : \"Ambassadorship\",\n          \"value\" : 8.5\n        }\n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "weeklyReports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "2016-06-02"
                          },
                          "groupName": {
                            "type": "string",
                            "example": "Officevibe"
                          },
                          "metricsValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "MG-10"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Ambassadorship"
                                },
                                "value": {
                                  "type": "number",
                                  "example": 8.5,
                                  "default": 0
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/groups/remove": {
      "post": {
        "summary": "/groups/remove",
        "description": "This request removes a group.",
        "operationId": "groupremove",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId"
                ],
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "The name or id of the group to remove."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "groupId": "My Group"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"isSuccess\":true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/groups#": {
      "get": {
        "summary": "/groups",
        "description": "The request returns all the groups information of the network.",
        "operationId": "group",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"isSuccess\" : true,\n  \"data\" : {\n    \"groupCount\" : 1,\n    \"groups\" : \n    [\n      {\n          \"id\" : \"9345c237-c166-48ec-af1c-705b9a057be4\",\n          \"name\" : \"Officevibe\",\n          \"groupType\" : \"Department\",\n          \"userCount\" : 10,\n          \"managerCount\" : 2\n      }\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "groupCount": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "9345c237-c166-48ec-af1c-705b9a057be4"
                              },
                              "name": {
                                "type": "string",
                                "example": "Officevibe"
                              },
                              "groupType": {
                                "type": "string",
                                "example": "Department"
                              },
                              "userCount": {
                                "type": "integer",
                                "example": 10,
                                "default": 0
                              },
                              "managerCount": {
                                "type": "integer",
                                "example": 2,
                                "default": 0
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/groups"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      }
    },
    "/users": {
      "get": {
        "summary": "/users",
        "description": "The request returns the information of all the Users of the network.",
        "operationId": "users",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"userCount\" : 1,\n  \"users\" : \n  [\n    {\n       \"email\" : \"bobboby@test.com\",\n       \"firstName\" : \"Bob\",\n       \"lastName\" : \"Boby\",\n       \"userName\" : \"bobboby\",\n       \"jobTitle\" : \"Sales\",\n       \"isGroupManager\" : false,\n       \"isCompanyManager\" : false,\n       \"isAdmin\" : false\n    }\n  ]  \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "userCount": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "bobboby@test.com"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Bob"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Boby"
                          },
                          "userName": {
                            "type": "string",
                            "example": "bobboby"
                          },
                          "jobTitle": {
                            "type": "string",
                            "example": "Sales"
                          },
                          "isGroupManager": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "isCompanyManager": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "isAdmin": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/users"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      }
    },
    "/ping": {
      "get": {
        "summary": "/ping",
        "description": "",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"isSuccess\":true}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/groups/removeUsers": {
      "post": {
        "summary": "/groups/removeUsers",
        "description": "This request removes users from a specified group.",
        "operationId": "groupremoveemployee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId",
                  "emails"
                ],
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "The group name or id."
                  },
                  "emails": {
                    "type": "array",
                    "description": "The employees emails.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fromMembers": {
                    "type": "boolean",
                    "description": "Remove the users from the Members List.",
                    "default": true
                  },
                  "fromManagers": {
                    "type": "boolean",
                    "description": "Remove the users from the Managers List.",
                    "default": false
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "groupId": "Officevibe",
                    "emails": [
                      "bobby@test.com"
                    ],
                    "fromMembers": true,
                    "fromManagers": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"isSuccess\":true \n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sync": {
      "post": {
        "summary": "/sync",
        "description": "The request will synchronize the company's users, groups and group relations.",
        "operationId": "sync",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "users",
                  "groups",
                  "mappings"
                ],
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "The synchronization settings.",
                    "required": [
                      "syncManagerEmail",
                      "inviteNewUsers"
                    ],
                    "properties": {
                      "syncManagerEmail": {
                        "type": "string",
                        "description": "The sync manager's email address",
                        "default": "manager@foo.bar"
                      },
                      "inviteNewUsers": {
                        "type": "boolean",
                        "description": "Whether to invite new users on creation or not",
                        "default": false
                      }
                    }
                  },
                  "users": {
                    "type": "array",
                    "description": "The list of users to synchronize, cannot be empty",
                    "items": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The member's ID",
                          "default": "U001"
                        },
                        "email": {
                          "type": "string",
                          "description": "The member's email address",
                          "default": "user1@foo.bar"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "The member's first name",
                          "default": "Foo"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "The member's last name",
                          "default": "Bar"
                        },
                        "jobTitle": {
                          "type": "string",
                          "description": "The member's job title",
                          "default": "Job1"
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "The member's profile picture",
                          "default": "http://..."
                        },
                        "language": {
                          "type": "string",
                          "description": "For language, options are: English, Français, Español, Deutsch, Português",
                          "default": "English"
                        },
                        "Gender": {
                          "type": "string",
                          "description": "Optionally add custom attributes by adding the key value pairs to this object.",
                          "default": "Female"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "firstName",
                        "lastName",
                        "language"
                      ],
                      "type": "object"
                    }
                  },
                  "groups": {
                    "type": "array",
                    "description": "The list of groups to synchronize, cannot be empty",
                    "items": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The group's ID",
                          "default": "G001"
                        },
                        "name": {
                          "type": "string",
                          "description": "The group's name",
                          "default": "Group1"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "type": "object"
                    }
                  },
                  "mappings": {
                    "type": "array",
                    "description": "The list of group hierarchy and their users' memberships, cannot be empty",
                    "items": {
                      "properties": {
                        "groupId": {
                          "type": "string",
                          "description": "The ID of the group being mapped",
                          "default": "G0001"
                        },
                        "userId": {
                          "type": "string",
                          "description": "The ID of the user being mapped",
                          "default": "U0001"
                        },
                        "subGroupId": {
                          "type": "string",
                          "description": "The ID of the group being set as a sub group",
                          "default": "G0002"
                        },
                        "isMember": {
                          "type": "boolean",
                          "description": "If the user is a member of the group or not",
                          "default": true
                        },
                        "isManager": {
                          "type": "boolean",
                          "description": "If the user is the manager of the group or not",
                          "default": false
                        }
                      },
                      "required": [
                        "groupId",
                        "userId",
                        "subGroupId",
                        "isMember",
                        "isManager"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"isSuccess\": true,\n  \"errors\": []\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "errors": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Bad Request": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/feedbackLabels": {
      "get": {
        "summary": "/feedbackLabels",
        "description": "This request returns a list of the custom labels that can be added to feedbacks.",
        "operationId": "feedbacklabels",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"isSuccess\": true,\n    \"errorMessage\": null,\n    \"data\": [\n        {\n            \"id\": \"CT-1\",\n            \"title\": \"Important\",\n            \"color\": \"custom-tag1\"\n        },\n        {\n            \"id\": \"CT-2\",\n            \"title\": \"Follow-up\",\n            \"color\": \"custom-tag2\"\n        },\n        {\n            \"id\": \"CT-3\",\n            \"title\": \"Idea\",\n            \"color\": \"custom-tag3\"\n        },\n        {\n            \"id\": \"CT-4\",\n            \"title\": \"Strategy\",\n            \"color\": \"custom-tag4\"\n        },\n        {\n            \"id\": \"CT-5\",\n            \"title\": \"Alignment\",\n            \"color\": \"custom-tag5\"\n        },\n        {\n            \"id\": \"CT-6\",\n            \"title\": \"Human Resources\",\n            \"color\": \"custom-tag6\"\n        },\n        {\n            \"id\": \"CT-7\",\n            \"title\": \"Suggestion\",\n            \"color\": \"custom-tag7\"\n        },\n        {\n            \"id\": \"CT-8\",\n            \"title\": \"Communication\",\n            \"color\": \"custom-tag8\"\n        },\n        {\n            \"id\": \"CT-9\",\n            \"title\": \"Compensation\",\n            \"color\": \"custom-tag9\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSuccess": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "errorMessage": {},
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "CT-1"
                          },
                          "title": {
                            "type": "string",
                            "example": "Important"
                          },
                          "color": {
                            "type": "string",
                            "example": "custom-tag1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "http",
              "code": "https://app.officevibe.com/api/v2/feedbackLabels"
            }
          ],
          "samples-languages": [
            "http"
          ]
        }
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}